html {
    font-family: Consolas;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

#file-list {
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow-y: auto;
}

#code {
    padding: 5px;
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    white-space: pre-wrap; 
    overflow-y: auto;
}

.line-number {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
    color: #fff;
    padding: 0 2px;
    background: #cfcfcf;
}